<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valutkalkulator</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header>
        <h1>Valutkalkulator</h1>
    </header>

    <main id="app">
        <form @submit.prevent="convert" method="get">
            <p>Fra:</p>
            <!-- Top 10 -->
            <select v-model="base" class="spaced-bottom" required>
                <option value="USD">USD (Amerikanske Dollar) 🇺🇸</option>
                <option value="EUR">EUR (Euro) 🇪🇺</option>
                <option value="JPY">JPY (Japanske Yen) 🇯🇵</option>
                <option value="GBP">GBP (Britisk Sterling) 🇬🇧</option>
                <option value="AUD">AUD (Australske Dollar) 🇦🇺</option>
                <option value="CAD">CAD (Canadiske Dollar) 🇨🇦</option>
                <option value="CHF">CHF (Swiss Franc) 🇨🇭</option>
                <option value="CNY">CNY (Kinesisk Yuan) 🇨🇳</option>
                <option value="KRW">KRW (Sørkoreansk Won) 🇰🇷</option>
                <option value="INR">INR (Indisk Rupee) 🇮🇳</option>
            </select>

            <p>Til:</p>
            <!-- Top 10 -->
            <select v-model="target" class="spaced-bottom" required>
                <option value="USD">USD (Amerikanske Dollar) 🇺🇸</option>
                <option value="EUR">EUR (Euro) 🇪🇺</option>
                <option value="JPY">JPY (Japanske Yen) 🇯🇵</option>
                <option value="GBP">GBP (Britisk Sterling) 🇬🇧</option>
                <option value="AUD">AUD (Australske Dollar) 🇦🇺</option>
                <option value="CAD">CAD (Canadiske Dollar) 🇨🇦</option>
                <option value="CHF">CHF (Swiss Franc) 🇨🇭</option>
                <option value="CNY">CNY (Kinesisk Yuan) 🇨🇳</option>
                <option value="KRW">KRW (Sørkoreansk Won) 🇰🇷</option>
                <option value="INR">INR (Indisk Rupee) 🇮🇳</option>
            </select>

            <label for="amount">Mengde:</label>
            <input v-model="amount" id="amount" type="number" autocomplete="on" placeholder="Nummer..." required>

            <section class="spaced-top" aria-labelledby="settings-heading">
                <h2 class="spaced-bottom" id="settings-heading">Innstillinger</h2>
                
                <div class="decimals-setting">
                    <p>Desimaler (hvis fant):</p>
                    <select v-model="with_decimals_str">
                        <option value="ja">ja</option>
                        <option value="nei">nei</option>
                    </select>
                </div>
            </section>

            <button class="spaced-top" type="submit">Konverter</button>
        </form>

        <div class="results spaced-top">
            <p class="spaced-top">{{ result }}</p>
            <p class="spaced-top-bottom">{{ previous_result }}</p>
        </div>
    </main>

    <script type="module" src="script.js"></script>
</body>
</html>